body
{
  background-color: #fff;
}

ul#list_buying li a:link,
ul#list_buying li a:visited,
ul#list_buying li a:hover,
ul#list_buying li a:active,
a.change_shipping:link, a.change_shipping:visited, a.change_shipping:hover, a.change_shipping:active, a.backtocart:link, a.backtocart:visited, a.backtocart:hover, a.backtocart:active
{
  color: #4A90E2;
}

h1#shop_name
{
  background: url({{ solid.files_url }}/logo.png);
  background-size: 300px 150px;
  width: 300px;
  height: 150px;
  display: block;
  margin: 1em auto;
  text-indent: -9999px;
}

fieldset legend
{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

h2#shop_instructions
{
  color: #00A782 ;
}

#button_complete_order
{
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  background: none repeat scroll 0 0 #46b98a;
}

input#cust_mailinglist
{
  display: none;
}

label.mailinglist
{
  display: none;
}