body, html
{
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: 'ai_kelsor';
  src: url('{{ solid.files_url }}/Kelson_Regular-webfont.eot');
    src: url('{{ solid.files_url }}/Kelson_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{ solid.files_url }}/Kelson_Regular-webfont.woff') format('woff'),
         url('{{ solid.files_url }}/Kelson_Regular-webfont.ttf') format('truetype'),
         url('{{ solid.files_url }}/Kelson_Regular-webfont.svg#ai_kelsor') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
  background-color: #fff;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6
{
  font-family: 'ai_kelsor', 'Montserrat', sans-serif;
}

.left
{
  text-align: left;
}

.right
{
  text-align: right;
}

.hidden
{
  display: none;
}

a:link,
a:visited,
a:hover,
a:active
{
  color: #4A90E2;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

.button
{
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 220px; /* auto */
  text-align: center; /* DELETE WHEN WIDTH AUTO */
  margin-left: auto;
  margin-right: auto;
}


.button__positive
{
   background: none repeat scroll 0 0 #46b98a;
}

.button__negative
{
  background: none repeat scroll 0 0 #E0645C
}

.logo
{
  background: url({{ solid.files_url }}/logo.png);
  background-size: 250px 200px;
  width: 250px;
  height: 200px;
  display: block;
  margin: 1em auto;
  text-indent: -9999px;
}

.products
{
 
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; 
  
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  
  -ms-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.product
{
  -ms-flex: 1 1 25%;
  -webkit-flex: 1 1 25%;
  flex: 1 1 25%; /* grow - shrink base */
  box-sizing: border-box;
  
  padding: 1em;
  padding: 1rem;
  
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* includes .produdct-thumbnail and .product--caption as nested flexboxes */
  
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  /*background: url({{ solid.files_url }}/productTile.png) bottom right no-repeat;*/
  
}

.soldout .product--price
{
  text-decoration: line-through;
  display: none;
}

.soldout .product--title
{
  text-decoration: line-through;
}

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  color: #f0f0f0;
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.product--container
{
  position: relative;
  border: 1px solid #EBF4FF;
  padding: 1em;
  padding: 1rem;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.product--button
{
  text-align: center;
}

.product--variant
{
  text-align: center;
}

.product--image
{
  width: auto;
  max-height: 170px;
  max-width: 100%;
}

.product--thumbnail
{
  -ms-flex: 2 2 auto;
  -webkit-flex: 2 2 auto;
  flex: 2 2 auto;
  text-align: center;
}

.product--caption
{
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  
  
  -ms-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.product--title
{
  font-size: 0.9rem;  
  text-align: center;
  margin: 0.5rem 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.product--link:link,.product--link:visited,.product--link:hover,.product--link:active 
{
  text-decoration: none;
  color: #4A90E2;
}

.product--price
{
  color: #333;
  text-align: center;
  margin: 0.5rem 0;
}



.page
{
  padding: 2em 5%;
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.page p
{
  line-height: 1.5em;
}

.page .page--title
{
  color: #f26700;
}

.page h1, .page h2, .page h3
{
  color: #FF7915;
}

/* PRODUCT DETAILS PAGE */
.product__details
{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #EBF4FF;
}

.page img
{
  max-width: 100%;
}


footer
{
  text-align: center;
  font-size: 0.65rem;
  padding: 4em 2em;
}

.nav
{
  padding: 0 1em 1em 1em;
  text-align: center;
}

.cart__teaser
{
  text-align: center;
  color: #25634a;
  background-color: #6bc7a1;
  border-bottom: 1px solid #52be91;
}

.cart__teaser a:link,
.cart__teaser a:visited,
.cart__teaser a:hover,
.cart__teaser a:active
{
  color: #25634a;
  display: block;
  text-decoration: none;
  padding: 1em;
}

.cart__teaser strong
{
  border-bottom: 1px dotted #2d8f23;
}

.cart--counter
{
  font-weight: bold;
}

.cart
{
    width: 60%;
    margin: 0 auto;
    font-size: 0.8rem;     
}

.cart .checkout--button
{
  text-align: right;
}

.cart table
{
  width: 100%;
}

.cart a:link,
.cart a:visited,
.cart a:hover,
.cart a:active
{
  color: #4A90E2;
}

.cart--title
{
  text-align: center;
}

.cart--image
{
  margin: 10px;
}

.table-striped tbody tr:nth-child(odd)
{
  background-color: #fafcfe;
}


@media (max-width: 800px) {
  .cart
  {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .cart .checkout--button
  {
    text-align: center;
  }
}


@media (max-width: 600px) {
  
  .product__details
  {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  .product
  {
    -ms-flex-basis: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
  }
  
  .checkout--button
  {
    text-align: center;    
  }
}


@media (max-width: 400px) {
  
  .product
  {
    -ms-flex-basis: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
  
}







