<!DOCTYPE html>
<html lang="en">
  <head>
		{{ solid.embed("meta") }}
    	<title>{{ solid.shop_name }}: cart</title>
        <meta name="description" content="cart for {{ solid.shop_name }}" />
    	<meta name="keywords" content="" />
  </head>

  <body>
  {{ solid.embed("cart_teaser") }}
    <div class="container">
    <!-- heading -->
	{{ solid.embed("row_header") }}
     

     <!-- cartObject -->
     {% set cartObject = cart.get() %}
     <div class="row">
     <div class="col-md-12">

    
    <div class="cart">
     <h1 class="cart--title"> Winkelmandje</h1><br>
    	<form action="" method="post">
       
        <table class="table table-bordered table-striped">
            <thead>
                 <tr>
                    <th>&nbsp;</th>
                    <th class="left">Product</th>
                    <th>Prijs</th>
                    <th class="right">Verwijderen</th>
                 </tr>
               </thead>
               <tbody>
             
             
              {% for item in cartObject.items %}
                <tr>
                  <td>
                    {% if item.thumbnail %}
                         <a href="{{ item.url }}"><img class="cart--image" width="40" height="40" src="{{ item.thumbnail }}" /></a>
                    {% else %}
                   
                    <a href="{{ item.url }}"><img class="cart--image" width="40" height="40" src="https://dummyimage.com/300x200/000/fff&text={{item.id}}" /></a>
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ item.url }}">
                      {{ item.name }}
                      {% if item.variants|length > 0 %}
                          <div>
                             {% for arr_variant in item.variants %}
                                 <strong>{{arr_variant.name}}:</strong> {{arr_variant.value}}
                              {% endfor %}
                          </div>
                      {% endif %}  
                    </a>
                  </td>
                  
                  {% if item.quantity > 1 %}
                  <td nowrap>{{ item.quantity }}x {{ item.price|currency("symbol") }}</td>
                  {% else %}
                  <td nowrap>{{ item.price|currency("symbol") }}</td>
                  {% endif %}
                  
                  <td class="right"><a href="/cart/remove/{{item.id}}" title="Remove From cart" rel="{{ item.id }}">Verwijderen</a></td>
                </tr>    
              {% endfor %}
              
                 
              <tr>
                <td colspan="2" class="right">
                  Totaal&nbsp; 
                </td>
                <td colspan="2">
                  <strong>
                   {{cartObject.total|currency("symbol") }}
                  </strong>
                </td>
                 </tr>    
               </tbody>
            </table>
      

    
          
          <div class="checkout--button">
          <button type="submit" class="button button__positive" name="btncheckout">Afrekenen</button>          
          </div>
          
          </form>
      </div>

     </div>
      </div>
     
     
     
     
   	<!-- footer -->	
   	{{ solid.embed("row_footer") }}	
    </div>
  </body>
</html>







