<!DOCTYPE html>
<html lang="en">
  <head>
	{{ solid.embed("meta") }}
    <title>{{ solid.shop_name }}</title>
    <meta name="description" content="{{ solid.shop_name }}" />
    <meta name="keywords" content="{{ solid.shop_name }}" />
  </head>

  <body>
    {{ solid.embed("cart_teaser") }}
    
   <div class="container">      

     {{ solid.embed("row_header") }}

     
     {% set arr_products = product.getList({"count":10000, "order": "id:desc"}) %}

       
    <!-- products -->   
    <div class="products">
             {% for productObject in arr_products %}
                <div class="product{% if(productObject.track_stock > 0 and productObject.stock == 0) %} soldout{% endif %}">
                  
                  
                  <div class="product--container">
                  
                    {% if(productObject.track_stock > 0 and productObject.stock == 0) %}
                    <div class="corner-ribbon top-right sticky blue">Verkocht</div>
                    {% endif %}
                    
                  <div class="product--thumbnail">
    
                       <a href="{{ productObject.url }}">
                          {% if productObject.thumbnail %}
                          <img src="{{ productObject.images[0].full }}" alt="{{ productObject.name }}" class="product--image"/>
                          {% else %}
                          <img  src="https://dummyimage.com/300x200/000/fff&text={{productObject.id}}" alt="{{ productObject.name }}" class="product--image" />
                          {% endif %}
                       </a>
                  
                  </div>
                  
                  <div class="product--caption">
                    <h5 class="product--title"><a class="product--link" href="{{ productObject.url }}" title="{{ productObject.name }}">{{productObject.name}}</a></h5>
                    <p class="product--price">{{productObject.price|currency("symbol")}}</p>
                  </div>
                    
                  </div><!-- end product--container -->
                </div>
             {% endfor %}
    </div>  
    <!-- end products -->

     {{ solid.embed("row_footer") }}
     
    </div>
  </body>
</html>







