{% set p = page.get() %}
<!DOCTYPE html>
<html lang="en">
  <head>
		{{ solid.embed("meta") }}
       	<title>{{ solid.shop_name }}: {{p.name}}</title>
        <meta name="description" content="{{ p.content|strip_tags|trim }}" />
        <meta name="keywords" content="" />
  </head>

  <body>
    {{ solid.embed("cart_teaser") }}
    
   <div class="container">
    
     <!-- heading -->
	{{ solid.embed("row_header") }}
    
     <!-- page content -->
     <div class="page">    
      <h2 class="page--title">{{ p.name }}</h2>
      <p class="page--content">
        {{ p.content }}
      </p>
    </div>
     
     
   	<!-- footer -->	
   	{{ solid.embed("row_footer") }}	
    </div>
  </body>
</html>