{% set p = product.get() %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ solid.embed("meta") }}
      <title>{{ solid.shop_name }} -> {{p.name}}</title>
        <meta name="description" content="{{ p.description|strip_tags|trim  }}" />
        <meta name="keywords" content="{{ p.tags }}" />
  </head>

  <body>
    {{ solid.embed("cart_teaser") }}
   <div class="container">
    <!-- heading -->
  {{ solid.embed("row_header") }}
     
      <!-- product details -->
     <form action="/cart/add/{{p.id}}" method="post" >
      
       
        <div class="product product__details{% if(p.track_stock > 0 and p.stock == 0) %} soldout{% endif %}">
          <div class="product--thumbnail">
            
            <a href="{{ p.url }}">
              {% if p.thumbnail %}
              <img src="{{ p.images[0].full }}" alt="{{ p.name }}" class="product--image"/>
              {% else %}
              <img  src="https://dummyimage.com/300x200/000/fff&text={{p.id}}" alt="{{ p.name }}" class="product--image" />
              {% endif %}
            </a>

          </div>

          <div class="product--caption">
            <h5 class="product--title">{{p.name}}</h5>
           
            <p class="product--price">
              {% if p.variant_combinations|length > 0 %}
                   <select  id="variant_combination" name="variant_combination">
                      {% for variant_combination in p.variant_combinations %}
                      <option value="{{ variant_combination.id }}">
                         {{variant_combination.name }} ({{variant_combination.price|currency("symbol") }})
                      </option>
                      {%  endfor %}
                   </select>
              {% else %}
                {{p.price|currency("symbol")}}
              {% endif %}  
            </p> 

          </div>
        

          <div class="product--button">
            {% if(p.track_stock > 0 and p.stock == 0) %}
            <button type="button" disabled class="button button__disabled">Verkocht</button>
            {% else %}
            <button type="submit" class="button button__positive">Toevoegen aan winkelmandje</button>
            {% endif %}
            
            
          
          </div>

       </div>

     </form>  
     
    </div>
    
    {{ solid.embed("row_footer") }}
  </body>
</html>







