$(document).ready(function(){
var instructions = $('<fieldset class="shipping_details"><legend>Je cadeau</legend><div><p>Je cadeau zal meteen bij ons thuis staan met je naam erop! Je hoeft dus niets te laten verzenden of af te halen.</p></div></fieldset>');
  $(".shipping_details").replaceWith(instructions);

  $(".shipping_switch").hide();
});