{% set cart = cart.get() %}
<div class="cart__teaser">
        {% if cart.items_quantity == 0 %}
            <a title="View shopping cart" href="{{ solid.shop_url }}/cart">Het <strong>winkelmandje</strong> is leeg</a>
          {% elseif cart.items_quantity == 1 %}
        <a title="View shopping cart" href="{{ solid.shop_url }}/cart">
           &#10004; Je hebt <strong class="cart--counter">{{ cart.items_quantity }} item</strong> in <strong>je winkelmandje</strong>
        </a>
        {% else %}
        <a title="View shopping cart" href="{{ solid.shop_url }}/cart">
           &#10004; Je hebt <strong class="cart--counter">{{ cart.items_quantity }} items</strong> in <strong>je winkelmandje</strong>
        </a>
        {% endif %}				
      </div>