<!-- heading -->
	 {% set pages = page.getList() %}
     
    <div class="row">
     <a href="/" class="logo">
				<h1>{{solid.shop_name}}</h1>
     </a>  
    </div>


    <nav class="nav">
      {% for p in pages %}
      <a href="{{ p.url }}">{{ p.name }}</a>
      {% if loop.index != pages|length %}|{% endif %}
      {% endfor %}
    </nav>

    

